on:
  workflow_call:

jobs:
  flake8:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.8, 3.9]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install wheel
          wget https://raw.githubusercontent.com/mdolab/.github/main/flake8-requirements.txt
          pip install -r flake8-requirements.txt
      - name: Lint with flake8
        run: |
          if [[ -f ".flake8" ]]; then
            export FL8=.flake8-project
            mv .flake8 $FL8; # rename the file from code repo; should have higher precedence in merge
          fi

          wget https://raw.githubusercontent.com/mdolab/.github/main/.flake8;

          if [[ -f "$FL8" ]]; then
              flake8 . --append-config $FL8 --count --show-source --statistics;
          else
              flake8 . --count --show-source --statistics;
          fi
