on:
  workflow_call:

jobs:
  isort:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Get isort config file
        run: |
          # copy over the isort config file
          if [[ ! -f ".isort.cfg" ]]; then
            wget https://raw.githubusercontent.com/mdolab/.github/main/.isort.cfg
          fi
      - uses: isort/isort-action@master
